[submodule "frontend"]
	path = frontend
	url = https://github.com/omarahmedeg/purdue-ece-faculty-frontend/
[submodule "backend"]
	path = backend
	url = https://github.com/omarahmedeg/purdue-ece-faculty-backend/
